Source: keimpx
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/inquisb/keimpx
Vcs-Git: ssh://git@git.kali.org/packages/keimpx.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/keimpx.git;a=summary

Package: keimpx
Architecture: all
Depends: ${misc:Depends}, python, python-support, python-impacket, python-crypto
Description: Check for valid credentials across a network over SMB
 keimpx is an open source tool, released under a modified 
 version of Apache License 1.1.
 .
 It can be used to quickly check for valid credentials 
 across a network over SMB. Credentials can be:
 .
     Combination of user / plain-text password.
     Combination of user / NTLM hash.
     Combination of user / NTLM logon session token.

